<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tough Place To Go{% endblock %}</title>
    {% block extra_styles %}{% endblock %}
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.13/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>
<body>
    <header>
        <nav class="navbar justify-center bg-base-300">
            <a class="btn btn-ghost text-lg">
                TPTG
            </a>
        </nav>

        <nav class="flex justify-center bg-base-200">
            <div class="menu menu-horizontal justify-center gap-2">
                <div class="dropdown dropdown-end">
                    <button class="btn btn-ghost btn-sm">
                        League Tables
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>

                    <ul tabindex="0" class="dropdown-content menu z-[1] bg-base-200 p-6 rounded-box shadow w-56 gap-2">
                        <li><a href="{% url 'league_table' 'premier-league' '2024-2025' %}">Premier League</a></li>
                        <li><a href="{% url 'league_table' 'championship' '2024-2025' %}">Championship</a></li>
                        <li><a href="{% url 'league_table' 'league-one' '2024-2025' %}">League One</a></li>
                        <li><a href="{% url 'league_table' 'league-two' '2024-2025' %}">League Two</a></li>
                    </ul>
                </div>
                <div class="dropdown dropdown-end">
                    <button class="btn btn-ghost btn-sm">
                        Metrics Management
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>

                    <ul tabindex="0" class="dropdown-content menu z-[1] bg-base-200 p-6 rounded-box shadow w-56 gap-2">
                        <li><a href="{% url 'metrics_management' 'premier-league' '2024-2025' %}">Premier League</a></li>
                        <li><a href="{% url 'metrics_management' 'championship' '2024-2025' %}">Championship</a></li>
                        <li><a href="{% url 'metrics_management' 'league-one' '2024-2025' %}">League One</a></li>
                        <li><a href="{% url 'metrics_management' 'league-two' '2024-2025' %}">League Two</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Page specific content will go here -->
        {% endblock %}
    </main>

    <footer class="flex flex-col sm:flex-row gap-8 justify-between p-10 bg-base-200">

        <aside>
            <p class="text-lg flex items-center gap-2">
{#                <img alt="Logo" src="/logo.svg" class="inline w-6" />#}
                TPTG
            </p>
            <small>Copyright © 2024 - All rights reserved</small>
        </aside>

        <nav class="flex gap-4">
            <a href="https://github.com/mbd0910" class="btn btn-ghost btn-sm btn-circle">
                <i class="fa-brands fa-github text-2xl"></i>
            </a>
            <a href="https://x.com/toughplacetogo" class="btn btn-ghost btn-sm btn-circle">
                <i class="fa-brands fa-twitter text-2xl"></i>
            </a>
            <a href="https://www.youtube.com/@michaeldavis4904" class="btn btn-ghost btn-sm btn-circle">
                <i class="fa-brands fa-youtube text-2xl"></i>
            </a>
        </nav>
    </footer>
</body>
</html>
