{% extends 'base.html' %}

{% block title %}League Table{% endblock %}

{% block content %}

<div class="flex flex-col items-center mx-10 md:mx-20">
    <h1 class="prose-2xl mb-4">Football League Table</h1>
    <a href="{% url 'metrics_management' competition_name season_name %}" class="link link-primary">Metrics management</a>
    <table class="table table-zebra table-lg">
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2"></th>
                <th colspan="11">Results</th>
                <th colspan="4">Fixtures</th>
            </tr>
            <tr>
                <th>P</th>
                <th>F</th>
                <th>A</th>
                <th>GD</th>
                <th>Pts</th>
                <th>xG</th>
                <th>xGA</th>
                <th>xPoints</th>
                <th>Diff: Pos</th>
                <th>Diff: xPts</th>
                <th>Diff: Weighted</th>
                <th>Games remaining</th>
                <th>Diff: Pos</th>
                <th>Diff: xPts</th>
                <th>Diff: Weighted</th>
            </tr>
        </thead>
        <tbody>
            {% load custom_filters %}
            {% for row in league_table.sorted_rows %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.team.name }}</td>
                    <td>{{ row.games_played }}</td>
                    <td>{{ row.scored }}</td>
                    <td>{{ row.conceded }}</td>
                    <td>{{ row.goal_difference }}</td>
                    <td>{{ row.points }}{% if row.has_points_deducted %}*{% endif %}</td>
                    <td>{{ row.xg }}</td>
                    <td>{{ row.xg_against }}</td>
                    <td>{{ row.x_points }}</td>
                    {% with traditional_result_difficulty=result_difficulties.traditional|hash:row.team %}
                        <td style="background-color: {{ traditional_result_difficulty|difficulty_colour }}">
                            {{ traditional_result_difficulty|floatformat:"3" }}
                        </td>
                    {% endwith %}
                    {% with x_points_result_difficulty=result_difficulties.x_points|hash:row.team %}
                        <td style="background-color: {{ x_points_result_difficulty|difficulty_colour }}">
                            {{ x_points_result_difficulty|floatformat:"3" }}
                        </td>
                    {% endwith %}
                    {% with weighted_result_difficulty=result_difficulties.weighted|hash:row.team %}
                        <td style="background-color: {{ weighted_result_difficulty|difficulty_colour }}">
                            {{ weighted_result_difficulty|floatformat:"3" }}
                        </td>
                    {% endwith %}
                    <td>{{ row.games_remaining }}</td>
                    {% with traditional_fixture_difficulty=fixture_difficulties.traditional|hash:row.team %}
                        <td style="background-color: {{ traditional_fixture_difficulty|difficulty_colour }}">
                            {{ traditional_fixture_difficulty|floatformat:"3" }}
                        </td>
                    {% endwith %}
                    {% with x_points_fixture_difficulty=fixture_difficulties.x_points|hash:row.team %}
                        <td style="background-color: {{ x_points_fixture_difficulty|difficulty_colour }}">
                            {{ x_points_fixture_difficulty|floatformat:"3" }}
                        </td>
                    {% endwith %}
                    {% with weighted_fixture_difficulty=fixture_difficulties.weighted|hash:row.team %}
                        <td style="background-color: {{ weighted_fixture_difficulty|difficulty_colour }}">
                            {{ weighted_fixture_difficulty|floatformat:"3" }}
                        </td>
                    {% endwith %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_styles %}

{% endblock %}
