{% extends 'base.html' %}

{% block title %}League Table{% endblock %}

{% block content %}

<div class="flex flex-col items-center mx-10 md:mx-20">
    <h1 class="prose-2xl mb-4">Football League Table</h1>
    <a href="{% url 'metrics_management' competition_name season_name %}" class="link link-primary">Metrics management</a>
    <table class="table table-zebra table-lg">
        <thead>
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2"></th>
                <th rowspan="2">P</th>
                <th rowspan="2">W</th>
                <th rowspan="2">D</th>
                <th rowspan="2">L</th>
                <th rowspan="2">F</th>
                <th rowspan="2">A</th>
                <th rowspan="2">GD</th>
                <th rowspan="2">Pts</th>
                <th rowspan="2">xG</th>
                <th rowspan="2">xGA</th>
                <th rowspan="2">xPoints</th>
                <th>Fixture Difficulty</th>
            </tr>
            <tr>
                <th>League Position</th>
                <th>X Points</th>
            </tr>
        </thead>
        <tbody>
            {% load custom_filters %}
            {% for row in league_table.sorted_rows %}
                <tr>
                    {% with team_name=row.team.name %}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ team_name }}</td>
                    <td>{{ row.games_played }}</td>
                    <td>{{ row.wins }}</td>
                    <td>{{ row.draws }}</td>
                    <td>{{ row.losses }}</td>
                    <td>{{ row.scored }}</td>
                    <td>{{ row.conceded }}</td>
                    <td>{{ row.goal_difference }}</td>
                    <td>{{ row.points }}</td>
                    <td>{{ row.xg }}</td>
                    <td>{{ row.xg_against }}</td>
                    <td>{{ row.x_points }}</td>
                    {% with traditional_fixture_difficulty=fixture_difficulties.traditional|hash:row.team %}
                    <td style="background-color: {{ traditional_fixture_difficulty|fixture_difficulty_colour }}">
                        {{ traditional_fixture_difficulty|floatformat:"3" }}
                    </td>
                    {% endwith %}
                    {% with x_points_fixture_difficulty=fixture_difficulties.x_points|hash:row.team %}
                    <td style="background-color: {{ x_points_fixture_difficulty|fixture_difficulty_colour }}">
                        {{ fixture_difficulties.x_points|hash:row.team|floatformat:"3" }}
                    </td>
                    {% endwith %}
                    {% endwith %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_styles %}

{% endblock %}
