{% extends 'base.html' %}

{% block title %}League Table{% endblock %}

{% block content %}

<div class="flex flex-col items-center mx-10 md:mx-20">
    <h1 class="prose-2xl mb-4">Football League Table</h1>
    <a href="{% url 'metrics_management' competition_name season_name %}" class="link link-primary">Metrics management</a>
    <table class="table table-zebra table-lg">
        <thead>
            <tr>
                <th>Position</th>
                <th>Team</th>
                <th>Played</th>
                <th>Wins</th>
                <th>Draws</th>
                <th>Losses</th>
                <th>Scored</th>
                <th>Conceded</th>
                <th>Goal Difference</th>
                <th>Points</th>
                <th>Fixture Difficulty</th>
            </tr>
        </thead>
        <tbody>
            {% load custom_filters %}
            {% for row in league_table.sorted_rows %}
                <tr>
                    {% with team_name=row.team.name %}
                    <td>{{ forloop.counter }}</td>
                    <td>{{ team_name }}</td>
                    <td>{{ row.games_played }}</td>
                    <td>{{ row.wins }}</td>
                    <td>{{ row.draws }}</td>
                    <td>{{ row.losses }}</td>
                    <td>{{ row.scored }}</td>
                    <td>{{ row.conceded }}</td>
                    <td>{{ row.goal_difference }}</td>
                    <td>{{ row.points }}</td>
                    <td style="background-color: {{ fixture_difficulty_colours|hash:row }}">
                        {{ fixture_difficulties|hash:row|floatformat:"3" }}
                    </td>
                    {% endwith %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_styles %}

{% endblock %}
